<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PokemonDatabase.My.MySettings.Database_Pokemon_ProjectConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Database Pokemon Project.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="PokemonDatabase.My.MySettings.PokemonDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PokemonDatabase.mdb"
            providerName="System.Data.OleDb" />
        <add name="PokemonDatabase.My.MySettings.BooksConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Books.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>